//===============================================================================
//===============================================================================
// Base / Mobile
//===============================================================================
//===============================================================================
.container {
	position:relative;
}
.navbar-fixed-top{
  position: relative;
 }
/*.main{
   position: relative;
   top: 64px;
   padding-bottom: 64px;
}
*/
.navbar-default {
    background-color: rgba(42, 28, 0, 0.9);
    border: none;
	margin-bottom:0;
	.navbar-header{
	 	margin-right: 0;
  		margin-left: 0;
		.navbar-brand{
			width: 111px;
			height:auto;
			padding: 10px;
			margin-left: 12px;
		
			img{
				width:100%;
				height:auto;
			}
		}
		.navbar-toggle{
			margin-right: 24px;
		}
	} 
	.nav-container{
		.main-menu{
			text-align: center;
		}
		li {
			text-align: center;
			display: block;
			float:none;
			a{
				color:#fff!important;
				letter-spacing: 1px;
			}
			&:hover {
				a{
				background: none;
				color:#f8b03a!important;
					&:hover {
						background: none;
						color:#f8b03a;
					}
				}
			}
			&:focus{background: none;color:#f8b03a!important;}
			
		}
		.mobile-language-selector-wrapper{
					a{
						width:50% ; 
						display:inline-block ;	
						text-align: center;
						padding-top: 10px;
						padding-bottom: 10px;
						line-height: 20px;
						color:#fff;
						margin-bottom:5px;
						
						&:active, &:hover{ color: #f8b03a!important; text-decoration: none;}
						&:first-child{border-right:1px solid #fff}
						}
				
			}
		li.active a{
			color:#f8b03a!important;
			background: none;
			&:hover {
				background: none;
				color:#f8b03a!important;
			}
		}
		#menu-primary-navigation,#menu-primary-navigation-chinese-traditional,#menu-primary-navigation-chinese-simplified,#menu-egg-star-main-menu,#menu-egg-star-main-menu-chinese-traditional,#menu-egg-star-main-menu-chinese-simplified{
		  float: none;
		  text-align: center;
		  margin: 0 auto;
		  display: inline-block;
		}
		 
	}
	.nav-social {
		text-align: center;
		a{
			color: rgba(225, 225, 225, 0.5);
			&:hover{color: rgba(225, 225, 225, 0.7);}
		}
		.fa-stack{font-size: 100%;}
		.fa-inverse {color: rgba(42, 28, 0, 0.9);}
	}
}
.content-info{
	.container{display: block;}
	padding: 10px 0;
	background-color: rgb(147, 144, 139);
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	.footer_link_container{
		font-size: 12px;
		letter-spacing: 1px;
		.navbar-nav {
			float:none;
			margin: 10px 0;
			li {
				display: inline-block;
				margin: 10px 7px 10px 0;
				border-right: 1px solid #fff;
				a{
				color:#fff;
				margin: 0px 7px 0px 0;
				padding: 0;
				display: inline-block;
				border-bottom: 1px solid #fff;
				&:hover{
					color:#ccc;
					background:none;
					border-bottom: 1px solid #ccc;
					}
				}
				&:last-child{
					border-right: 0px;
				}
			}
		}
	}
	.nav-social {
		color: rgba(225, 225, 225, 0.5);
		text-align: center;
		margin: 10px 0;
		a{
			color: rgba(225, 225, 225, 0.5);
			&:hover{
				color: rgba(225, 225, 225, 0.7);
				}
			border-bottom: 0px;
		}
		.fa-inverse {
		  color: #93908B;
		}
	}	
}

.lang-switcher {
	position: absolute;
	right: 15px;
	top: 8px;

	a{
		display: inline-block;
		border-right: 1px solid #fff;
		padding-right: 5px;
		margin-right: 5px;
		color:#fff;
		line-height: 100%;
  		font-size: 13px;

  		&:hover{
  			color: #ccc;
  			text-decoration: none;
  		}

		&:last-of-type{
			border: none;
			padding-right: 0;
			margin-right: 0;
		}
	}
}


//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {

.navbar-fixed-top {
  position: absolute;
}

.navbar-default {
	.nav-container{
		float: none;
	    li{
			display: inline-block;
				a{  
					padding: 10px 12px; 
				}
			&:last-child a{padding-right:0; }
			&:first-child a{padding-left:0; }
		}
		.main-menu{
			padding-top: 28px;
			text-align: right;
			
		}
	}
	
	.nav-social {
		position: absolute;
		right: 85px;
		top: 7px;
	}
}
.content-info{
	text-align:left;
}
nav.collapse.navbar-collapse.mobile-language-selector-wrapper{display:none !important;}

}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
/*.main{
   position: initial;
   top: 0px;
}
*/
.navbar-fixed-top{
  position: fixed;
 }
.navbar-default {
	
	.navbar-header {
	  padding-top: 22px;
	  padding-bottom: 12px;
	  position: relative;
	  .navbar-brand{
	    padding: 0px;
		margin-left: 0px; 
	  }
	}
	
	.nav-container{
		  margin-top: -37px;
		  width: 100%;
		  float: left;
		  padding-bottom: 10px; 
		li{
			display: inline-block;
				a{  
					padding: 10px 10px; 
				}
		}
		.main-menu{
			padding-top: 0px;
			text-align: center;
		}
	}
	
	.nav-social {
		  position: absolute;
		  right: 0; 
		  top: 57px;
	}
	
}

.content-info{
	.nav-social{
			text-align: right;
	}
		
	.footer_link_container{
		.navbar-nav {
			margin: 0;
			li a{
			margin: 0 7px 0 0;
			}
		}
	}
}


.lang-switcher {
	top: 22px;
  }
}
//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

/*.main{
   position: initial;
   top: 0px;
}
*/
.navbar-default {	
	.nav-social {
		position: absolute;
		right: 15px;
		top: 57px;
	}
}
.lang-switcher {
	right: 15px;
}

}