//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================
.eggstar{
	.navbar-default{
		background-color: rgba(0, 0, 0, 0.9);

		 .nav-container li:hover a,
		 .nav-container li.active a{
		 	color: #99E5FF!important;
		 }
		.nav-container .mobile-language-selector-wrapper a{
			&:active, &:hover{
				color: #99E5FF!important;
			}
		}
	}
	.home-new-collection .sectionIntro .section-contents,
	.home-new-collection .section-title h2,
	.home-find-store .section-title .find-store-btn h2,
	.home-find-store .section-title .find-store-btn{
		border: 1px solid #333;
	}
	.home-new-collection .sectionIntro .section-contents .view-all-btn a{
		    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
	}
	.home-new-collection .section-title h2#product-highlight-heading {
		color: #5F5F5D;
	}
	.home-banner .container h3{
		color: #333;
		border-bottom: 1px solid #333;
	}
	.home-new-collection .sectionIntro .section-contents{
	    //border: none;
	    padding-bottom: 50px;
    	padding-top: 80px;
	}
	.home-new-collection{
		/*background-color: #93908b;*/
		padding: 0 0px 15px;
		margin: 10px auto 0;
		    margin-bottom: 40px;
	}
	.home-find-store{
		background: transparent url(../img/eggstar-bg.jpg);
		margin: 0 auto 0;
    	padding: 70px 0px 50px;
	}
	.home-banner{
		background: transparent url(../img/eggstar-bg.jpg);
		padding-bottom: 80px;
		.container{
			margin-bottom: 0;
		}
	}
	.home-find-store img{
		 /* IE 8 */
		  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

		  /* IE 5-7 */
		  filter: alpha(opacity=90);

		  /* Netscape */
		  -moz-opacity: 0.9;

		  /* Safari 1.x */
		  -khtml-opacity: 0.9;

		  /* Good browsers */
		  opacity: 0.9;
	}
}

.page-template-template-eggstar-stores{
	.navbar-default{
		background-color: rgba(0, 0, 0, 0.9);

		.nav-container li:hover a,
		 .nav-container li.active a{
		 	color: #99E5FF!important;
		 }
		.nav-container .mobile-language-selector-wrapper a{
			&:active, &:hover{
				color: #99E5FF!important;
			}
		}
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {

}
//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {

}
//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}