//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================
#news-page{
  background-color:#e6e4e0;
  
	.page-head-container {
		position:relative;
		img{
			display: block;
			width: 100%;
			height: auto;
		}
		.page-title{
			text-align: center;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -23px;
			
			h2{
			  color: #664400;
			  text-transform: uppercase;
			  font-weight: bold;
			  border: 1px solid #664400;
			  padding: 10px 80px;
			  background-color: #fff;
			  letter-spacing: 3px;
			  margin-top: 0;
			  margin-bottom: 0;
			  display: inline-block;
			  font-size: 23px;
			}
		}
	}
	.container{
	  padding: 70px 0;
	  	.content-container{
			background-color:#fff;
		}
	 }
 
}
//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {


}
//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {

}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}