//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================
#news-page{
  background-color:#e6e4e0;
  
	.page-head-container {
		position:relative;
		img{
			display: block;
			width: 100%;
			height: auto;
		}
		.page-title{
			text-align: center;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -23px;
			
			h2{
			  color: #664400;
			  text-transform: uppercase;
			  font-weight: bold;
			  border: 1px solid #664400;
			  padding: 10px 80px;
			  background-color: #fff;
			  letter-spacing: 3px;
			  margin-top: 0;
			  margin-bottom: 0;
			  display: inline-block;
			  font-size: 23px;
			}
		}
	}
	.container{
	  padding: 70px 0;
	  	.row{
			background-color:#fff;
			margin:0 0 50px 0;
				.left-content-container{
					padding-top: 20px;
					padding-bottom: 20px;
						.post-img img{
							width:100%;
						}
					}
				.right-content-container{
					padding: 20px 30px;
						h4{ 
							margin-top: 3px;
						}
						.news-content-container{
						}
						.expend-btn{
							cursor:pointer;display:
							inline-block;
							margin:10px 0;
							float: right;
							background-image:url(../img/icon-expend.png);
							width:56px;
							height:56px;
						}
						.expended{background-image:url(../img/icon-expended.png);}
				}
				
		}
		
	 }
 
}
//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {


}
//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {

}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}