//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

#services-page{

	.services-container {
	  background-color: #e6e4e0;
	  margin:0 0 50px 0;
	  padding: 15px 0px;
	  	h3{  margin-top: 10px;margin-bottom: 15px;font-weight: 700;letter-spacing: 1px;}
	  	.right-content-container{ padding-left:15px;padding-right:15px;}
	  	.left-content-container img{width:100%;} 
	  	ul,ol{
	  		  padding-left: 18px;
	  	}

	}
}
//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	#services-page .services-container h3{
		margin-top: 0;
	}

}
//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {

#services-page{

	.services-container {
	  	.right-content-container{ padding-left:30px;padding-right:30px;}
	}
}

}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}